* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #eaffdf;
}

header {
  font-family: ""Poppins", sans-serif";
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 40px;
}

.logo img {
  height: 80px;
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  max-width: 800px;
}

.search-category {
  position: relative;
}

.search-category::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 20%;
  width: 1px;
  height: 60%;
  background-color: #ccc;
}

.search-category select {
  height: 40px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  padding: 0 20px 0 10px;
  font-size: 14px;
  cursor: pointer;
}

.search-bar input {
  width: 400px;
  border: none;
  outline: none;
  background-color: #f7f7f7;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
}

.search-bar button {
  background: #5e9f39;
  border: none;
  color: white;
  height: 40px;
  width: 45px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.search-bar button:hover {
  background: #417424;
}


.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-actions .icon {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
}

.user-actions .icon i {
  font-size: 20px;
  color: #5e9f39;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-actions button {
  border-radius: 5px;
  border: 1px solid #5e9f39;
  background: transparent;
  color: #5e9f39;
  padding: 6px 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100px;
}

.user-actions .register-btn {
  background: #5e9f39;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.user-info .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info span {
  font-weight: bold;
  color: #333;
}

.user-info i {
  font-size: 14px;
  color: #333;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  list-style: none;
  padding: 8px 0;
  width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.dropdown-menu li {
  padding: 8px 10px;
}

.dropdown-menu li:hover {
  background-color: #f3f3f3;
}

.dropdown-menu a {
  text-decoration: none;
  color: #333;
  display: block;
}

.bottom-header {
  border-top: 1px solid #cfe5c3;
  border-bottom: 1px solid #cfe5c3;
  padding: 10px 40px;
}

.bottom-header ul {
  display: flex;
  justify-content: center; /* căn giữa toàn bộ menu */
  align-items: center;
  list-style: none;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.bottom-header li {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #333;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 6px;
  transition: 0.3s;
}

.bottom-header li i {
  color: #5e9f39;
}

.bottom-header li:hover {
  background-color: #d9f0c9;
}

.bottom-header li.active {
  background-color: #5e9f39;
  color: white;       
}

.bottom-header li.active i {
  color: white; 
}

.order-now {
  color: #333;
  font-weight: bold;
}